<template>
  <div class="pageItemsContainer">
    <div class="pageItem" v-on:click="prevPage">
        <arrowLeft />
    </div>
    <div  v-for="(item, index) in pagesArr" :key="item">
        <div 
            class="pageItem" 
            v-bind:class="pageNumber === index + 1 ? 'active' : ''"
            v-on:click="changePage(index)"
            >
            {{ item }}
        </div>
    </div>
    <div class="pageItem" v-on:click="nextPage">
        <arrowRight />
    </div>
  </div>
</template>

<script>
import arrowLeft from './assets/keyboard_arrow_left-24px.svg'
import arrowRight from './assets/keyboard_arrow_right-24px.svg'
export default {
    props: {
    //     items: {
    //         type: Array,
    //         required: true
    //     },
        listSize: {
            
            required: true,
        },
    //     pagesVisibleCount: {
    //         type: Number,
    //         default: 4
    //     },
    //      isNumbersVisible: {
    //          type: Boolean,
    //          default: true
    //      },
    },
    data() {
        return {
            pageNumber: 1,
            pagesArr: [1, 2, 3, 4, 5, 6]
        }
    },
    methods: {
        prevPage() {
            if (this.pageNumber > 1) {
                this.pageNumber--
            }
        },
        nextPage() {
            if (this.pageNumber < this.listSize) {
                this.pageNumber++
            }
        },
        changePage(page) {
            this.pageNumber = page + 1
        }
    },
    computed: {
        pagesArray: function (size) {
            let tempArr = []
            this.console.log(this.tempArr);
            for(let i = 0; i < size; i++) {
                tempArr.push(i)
            }
            this.console.log(this.tempArr)
            return tempArr
            
        }
    },
    components: {
        arrowLeft,
        arrowRight
    }
}
</script>

<style scoped>
    .pageItem {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30px;
        min-height: 30px;
        border: 1px solid #006EB1;
        border-radius: 2px;
        margin-right: 3px;
        cursor: pointer;
    }

    .pageItemsContainer {
        display: flex;
    }

    .active {
        background-color: #006EB1;
        color: #fff;
    }
</style>
