<template>
  <div id="app">
    <Pagination listSize="6" />
  </div>
</template>

<script>
import Pagination from './components/pagination/Pagination.vue'

export default {
  name: 'app',
  components: {
    Pagination
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
